APP_DOMAIN=coolchain
APP_URI=http://localhost:3000
AUTH_SECRET=<secret>
DATABASE_URL=mongodb+srv://<username>:<password>@measurements.fovw1ve.mongodb.net/Raspberry
WALLET_PRIVATE_KEY=xxxxxxxx
CHAIN_NAME=moonbase-alpha
CHAIN_RPC_URL=https://rpc.api.moonbase.moonbeam.network
CHAIN_ID=1287
CONTRACT_ADDRESS=0xba723C2E3370F95Ee1aC8e27C238521a217d6c0bs
SALT=0x5e75394f31cc39406c2d33d400bb0a9d15ede58611e895e36e6642881aa1cae6