ORIGIN=http://localhost:8081
AUTH_SECRET=<secret>
DATABASE_URL=mongodb+srv://<username>:<password>@measurements.fovw1ve.mongodb.net/Raspberry
WALLET_PRIVATE_KEY=xxxxxxxx
CHAIN_NAME=moonbase-alpha
CHAIN_RPC_URL=https://rpc.api.moonbase.moonbeam.network
CHAIN_ID=1287
CONTRACT_ADDRESS=0x8058c7f9D800EF5CCaA3E9dAf7b9ba92Bb005814
SALT=0x5e75394f31cc39406c2d33d400bb0a9d15ede58611e895e36e6642881aa1cae6
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<yourpassword>